$color-1:#86825B;
$color-2:#1d7871;
$color-grey:rgb(221, 208, 208);
$color-white:#fff;
$color-black:#000;

.u-margin-top-bottom{
    margin: 5rem 0!important;
}


.title-thin{
    font-weight: 300;
}
.title-bold{
    color: $color-2;
    font-weight: 800;
    text-transform: uppercase;

}



