.doctor-about{
    padding: 8rem 0;
    background-position: center;
     background-image: url(../img/bgn-grad.png);
    background-color: $color-2;
    
}


.doctor-info{
    position: relative;

    @include respond(tab-land){
        height: 100%;
        padding:20px;    
    }

    &__img{
     
        width: 100%;
    
        img{
            width: 100%;

        }

    }
}

.doctor-info__icons{
            
   position: absolute;
   font-size: 2rem;
    left: 2rem;
    margin-top: -30px;
    z-index: 1;
    // backface-visibility: hidden;
    // overflow: hidden;
    display: flex;
 
   &--item{
       border-radius: 100%;
       width: 4.2rem;
       height: 4.2rem;
       border: 0.5rem solid $color-white;
       box-sizing: content-box;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: $color-2;
       color: $color-white;
       transition: all .3s; 
       margin-left: .5rem;
    
   }

   &--item:hover{
    transform: translateY(-1rem) scale(1.3);
  
   }
}


.doctor-info-text{
    background-color: $color-white;
    padding:2rem 1.5rem;
    margin-top: -2px;
    color: #666464;




    &__arena{
        font-size: 1.6rem;
        line-height: 1.7;

        p{
            font-size: 1.3rem;
        }
        .p1{
            padding-top: 1.5rem;

        }
        h4{
            font-size:2.5rem;
            color: #222222; 
            padding: 1rem 0;
            font-weight: 600;

        }
    }
    .social-icons{
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;


    
        a{
            width: 3rem;
            height: 3rem;
            display: flex;
            font-size: 1.5rem;
            color: rgba(68,68,68,.55);
            border-radius: 100%;
            border: .1rem solid rgba(68,68,68,.55);
            overflow: hidden;
            transition: all .3s ease;
            justify-content: center;
            align-items: center;
            margin-left: .5rem;
            animation-name: effect;
            
            
        }
        
        a:hover{
            background-color: rgba(68,68,68,.55);
            color: $color-white;  
            transform: rotate(20deg);       
        }
        
      
    }
}


